<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2><span class="glyphicon glyphicon-map-marker"></span> Reduced POI Types
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="poi in locations">
                        <span class="badge">{{poi.value}}</span>
                        <strong>Type:</strong> {{poi._id}}<br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
