<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>
                <span class="glyphicon glyphicon-search"></span> Search for POI
            </h2>
        </div>

        <div class="panel-body">
            <form name ="queryForm">
                <div class="form-group">
                    <label for="poiname">Name of the place</label>
                    <input type="text" class="form-control" id="poiname"
                           placeholder="IT Tralee" ng-model="formData.name">
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="52.2866651" ng-model="formData.lat" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="-9.6749289" ng-model="formData.lng" readonly>
                </div>
                <div class="form-group">
                    <label for="distance">Distance within (km)</label>
                    <input type="text" class="form-control" id="distance" placeholder="50" ng-model="formData.distance">
                </div>
                <div class="form-group">
                    <label for="type">POI Type</label>
                    <input type="text" class="form-control" id="type"
                           placeholder="education" ng-model="formData.type">
                </div>
                <button type="submit" class="btn btn-danger btn-block" ng-click="queryLocations()">Search</button>
            </form>
        </div>

        <div ng-show="queryCount>0" class="panel-footer">
            <p class="text-center">We have found {{queryCount}} location(s)</p>
        </div>
    </div>
</div>
