<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2><span class="glyphicon glyphicon-map-marker"></span> Update a POI</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="poi in locations">
                        <span class="badge">{{poi._id}}</span>
                        {{poi.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
